@import "mixins";

@import "variables";

body {
	background-color: $background;
}

/**
** Main nav
**/

#main-nav {
	padding: 0;
	background-color: #ffffff;
	ul {
		background-color: #ffffff;
		list-style-type: none;
		padding: 0;
		.current_page_item a {
			border-bottom: 1px solid #000000;
			color: darken($brand-primary, 10%)
			}
		li {
			float: left;
			margin: 0.5rem 1rem;
			a {
				background-color: #ffffff;
				color: $brand-primary;
				text-decoration: none;
				@include transition(background .4s);
				float: left;
				&:hover, &:focus {
				}
			}
		}
	}
}

/**
** typography
**/

body {
	font-family: $font-family;
	word-wrap: break-word;
	color: $font-colour;
	line-height: 1.6;
	font-size: $font-body-size;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-primary;
	font-family: $font-heading;
	line-height: 1.2;
	padding-bottom: 0.2rem;
	margin-bottom: 0;
	font-weight: normal;
	a {
		text-decoration: none;
		&:hover, &:focus {
			color:darken($brand-primary, 20%);
		}
	}
}

h1 {
	padding-bottom: 1rem;
}

a {
	color: $brand-primary;
	font-weight: normal;
	&:hover, &:focus {
		color: darken($brand-primary, 20%);
	}
}

h1 {
	font-size: $font-h1;
}

h2 {
	font-size: $font-h2;
}

h3 {
	font-size: $font-h3;
}

h4 {
	font-size: $font-h4;
}

h5 {
	font-size: $font-h5;
}

h6 {
	font-size: $font-h6;
}

p, ul {
	padding-bottom: 1rem;
}

figure {
  margin: 0;
}


#maincontent ul {
	padding: 0 0 1rem 2rem;
	list-style-position: outside;
	li {
	padding-left: 0.3rem;
	}
}

.entry-title {
	clear: both;
}

.entry {
	padding: 0.6rem 0 0 0;
	ul {
		list-style-position: inside;
		padding-bottom: 0.6rem;
		li {
		}
	}
	a {
		font-weight: bold;
		text-decoration: underline;
	}
}

.date {
	color: #333333;
	font-size: 0.8rem;
}

.author {
	color: #333333;
}

.postmetadata { 
	a {	
		text-decoration: none;
		font-weight: normal;
	}

}

.widget_search {
	padding-bottom: 1rem;
}

.search-highlight {
	background: #ff0000;  
}

#main_sidebar {
	.widget-title {
		padding: 0.5rem 0 0.5rem 0;
		color: #000;
	}
	ul {
		padding-left: 0;
		list-style-type: none;
		li {
			padding-bottom: 0.3rem;
		}
		a { 
			text-decoration: none;
			font-weight: normal;
			color: $brand-primary;
			&:hover, &:focus {
				color: darken($brand-primary, 20%);
			}
		}
	}
}

.page-navigation {
	.page-numbers {
		font-weight: normal;
		color: $brand-primary;
	}
	a {
		&:hover, &:focus {
		color: darken($brand-primary, 20%);
		}
	}
	.current {
		color: darken($brand-primary, 20%);
		font-weight: bold;
		}
	.next, .prev {
		text-decoration: none;
	}
}

/**
** images
**/

img, figure {
	max-width: 100%;
	height: auto;
	clear: both;
}

img.alignleft, img.alignright, .wp-post-image {
		clear: both;
		margin-bottom: 0.5rem;
	}

.alignnone, footer, header, .footer-info{
	clear: both;
}

/**
** comments
**/

#commentform {
	p label {
		display: block;
	}
}

.reply{
	display: block;
	padding-bottom: 1rem;
	.comment-reply-link {
		display: block;
	}
}

.comments-area {
	clear: both;
}

/* searchforms */

.submit, .search-submit {
	background-color: $brand-primary;
	padding: 0.2rem;
	@include border-radius(6px);
	color: #ffffff;
	border: none;
	font-weight: normal;
	@include transition(background .4s);
	&:hover, &:focus {
		background-color: darken($brand-primary, 20%);
	}
	
}

iframe {
	max-width: 98%;
}



/**
** footer
**/

#footer {
	background: #ffffff;
	margin-top: 20px;
	p {
		color: #000;
	}
	a {
		font-weight: normal;
		color: $brand-primary;
		text-decoration: none;
		&:hover, &:focus {
			color: darken($brand-primary, 20%);
		}

	}
	.footer-info {
		p {
		padding-bottom:10px;
		}
	}
}

#footerwidgets ul {
	list-style-position: inside;
	li {
		color: #fff;
		a {
			color: #fff;
			font-weight: bold;
		}
	}
}

/**
** other
**/

.shadow {
	box-shadow: 0px 3px 5px #e3e5e7;
}

.screen-reader {
	clip: rect(1px, 1px, 1px, 1px); 
	height: 1px; 
	width: 1px; 
	overflow: hidden; 
	position: absolute !important;

}

a.tab_accessibility { 
	@extend .screen-reader;
	&:focus {
		clip: auto;
		height: 1.5rem;
		width: 10rem;
		padding-left: 0.2rem;
		background-color: #000;
		color: #fff;
	}
}

a.tab_visible {
	clip: auto;
	height: 1.5rem;
	width: 10rem;
	background-color: #000;
	color: #fff;
}