@import "mixins";
@import "variables";

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	@extend %border-box;
}

#banner {
	padding: 0.3rem;
	.banner-logo {
		float: left;
		margin-bottom: 0.6rem;
		height: auto;
		padding-left: 0.3rem;
	}
}

#main_sidebar {
	padding: 1.5rem 0.3rem 0 0.3rem;
}

article footer{
	padding: 0.6rem 0;
}

.footer-info {
	padding: 0 0.5rem;
}

.container, .outer-wrapper, .column1, .column2, #maincontent, #main-nav ul {
	@extend %clearfix;
}

#maincontent {
	padding: 0 0.5rem;
}

#footer {
	clear: both;
}

footer .container {
	padding: 0 0.3rem;
}


@media all and (min-width: $screen-sm) {
	.container {
		padding: 0;
		margin: 0 auto;
	}
	.column1 {
		width: 33%;
		float: left;
		padding: 0 $gutter-width;
	}

	.column2 {
		width: 66%;
		float: left;
		padding: 0 $gutter-width;
	}

	.alignleft {
		float: left;
		margin: 0 0.6rem 0.6rem 0;
	}

	.alignright {
		float: right;
		margin: 0 0 0.6rem 0.6rem;
	}

	.wp-post-image {
		float: right;
		margin: 0 0 0.6rem 0.6rem;
	}
 
	#banner {
		padding: 0.3rem 0 0;
		img.banner-logo {
			height: auto;
			padding-left: 0;
		}
	}

	.footer-info, #main-nav {
		padding: 0 $gutter-width;
	}

	footer {
		.copyright {
			float: left;
		}
		.credit {
			float: right;
		}
		.container {
			padding: 0;
		}

	}

	/* Make footer stick to bottom of page on short pages */

	header, #footer {
		flex: none;
	}

	body {
		flex: 1 0 auto;
	}

	#maincontent {
		flex-direction: column;
 		display: flex;
 		min-height: 100vh;
	} 

}

@media all and ( min-width: $screen-sm )
	and ( max-width: $screen-md ) {
	.container, #main-nav {
		width: $screen-sm * .95;
	}
}

@media all and ( min-width: $screen-md )
	and ( max-width: $screen-lg ) {
	.container, #main-nav {
		width: $screen-md * .95;
	}
}

@media all and (min-width: $screen-lg) {
	.container, #main-nav {
		width: $screen-lg * .95;
	}
}