@import "mixins";
@import "variables";

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	@extend %border-box;
}

#banner {
	.banner-logo {
		float: left;
		margin-bottom: 0.6rem;
		height: auto;
	}
}

/* set padding on each side for mobile */

#maincontent, #main_sidebar, #banner, #footer {
		padding: 0 0.5rem;
}

article footer{
	padding: 0.6rem 0;
}

.footer-info {
	padding: 0;
}

.container, .outer-wrapper, .column1, .column2, #maincontent, #main-nav ul {
	@extend %clearfix;
}

#footer {
	clear: both;
	margin-top: 1rem;
}

footer .container {
	padding: 0;
}


@media all and (min-width: $screen-sm) {
	
	%clearfix-layout {
		*zoom: 1;
		&:before, 
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}

	.container {
		padding: 0;
		margin: 0 auto;
	}
	.column1 {
		width: 33%;
		float: left;
		padding: 0 0 0 $gutter-width;
	}

	.column2 {
		width: 66%;
		float: left;
		padding: 0 $gutter-width 0 0;
	}

	.alignleft {
		float: left;
		margin: 0 0.6rem 0.6rem 0;
	}

	.alignright {
		float: right;
		margin: 0 0 0.6rem 0.6rem;
	}

	img.alignleft {
		float: left;
		margin: 0 0.6rem 0.6rem 0;
	}

	body img.alignleft, body img.alignright {
		max-width: 70%;
	}

	/* Row and columns from Urban Angels layout plugin */
	.row {
		clear: both;
		@extend %clearfix-layout;
	}

	.two-columns {
		@extend %clearfix-layout;
		float: left;
		width: 50%;
		padding: 0 $gutter-width;
		&:nth-child(odd) {
			padding-left: 0;
			@extend %clearfix-layout;
		}
		&:nth-child(even) {
			padding-right: 0;
			@extend %clearfix-layout;
		}		
	}

	.wp-post-image {
		float: right;
		margin: 0 0 0.6rem 0.6rem;
	}

	/* remove padding on each side for mobile */

	#maincontent, #main_sidebar, #footer {
		padding: 0;
	}

	#footer {
		margin-top: 2rem;
	}
 
	#banner {
		padding: 0.3rem 0 0;
		img.banner-logo {
			height: auto;
			padding-left: 0;
		}
	}

	#main-nav li {
		height: 2rem;
	}

	#main_sidebar {
		padding: 1.5rem 0 0 $gutter-width;
	}

	.footer-info, #main-nav {
		padding: 0;
	}

	footer {
		.copyright {
			float: left;
		}
		.credit {
			float: right;
		}
		.container {
			padding: 0;
		}

	}

	/* Make footer stick to bottom of page on short pages */

	header, #footer {
		flex: none;
	}

	body {
		flex: 1 0 auto;
	}

	#maincontent {
		flex-direction: column;
 		display: flex;
 		min-height: 100vh;
	}

	.home #maincontent {
		flex-direction: column;
 		display: flex;
 		min-height: 1vh;
	}

	#main-nav {
		clear: both;
	}

}

@media all and ( min-width: $screen-md ) {
	img.alignleft, img.alignright {
		max-width: 100%;
	}
}

@media all and ( min-width: $screen-sm )
	and ( max-width: $screen-md ) {
	.container, #main-nav {
		width: $screen-sm * .95;
	}
}

@media all and ( min-width: $screen-md )
	and ( max-width: $screen-lg ) {
	.container, #main-nav {
		width: $screen-md * .95;
	}
}

@media all and (min-width: $screen-lg) {
	.container, #main-nav {
		width: $screen-lg * .95;
	}
	#main-nav {
		clear: none;
		li {
			padding-top: 2.5rem;
			&:first-child {
				padding-left: 1rem;
			}
		}
	}
}