$brand-primary: #726f22;
$background: #ffffff;
//$font-family: Arial, Helvetica, sans-serif;
$font-family: Verdana, Arial, sans-serif;
//$font-heading: Arial, Helvetica, sans-serif;
$font-heading: Verdana, Arial, sans-serif;
$font-colour: #333333;
$font-body-size: 1rem;
$font-h1: 2rem;
$font-h2: 1.3rem;
$font-h3: 1.1rem;
$font-h4: 1rem;
$font-h5: 0.9rem;
$font-h6: 0.8rem;

//mobile
$screen-xs: 30rem; //480px
$screen-sm: 48rem; //768px

//screen small
$screen-md: 62rem; //992px

//large screen
$screen-lg: 70.3125rem; //1125px

$gutter-width: 1rem;